<!DOCTYPE html>
<head>
  <title></title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
  <style>
    .author{
      text-decoration: underline;
    }
  </style>

</head>

<body>
  <div class="container">
    <h5>Post</h5>

    <form id="new-tweet">
      <label>Author:</label><input type="text" name="author-name" id="author-name" />
      <br />
      <label>Post:</label><input type="text" name="status-update" id="status-update" />
      <br />
      <button>Post</button>
    </form>
    <hr />
    <div id="tweets-container"></div>
  </div>


  <script src="underscore.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  <script src="backbone.js" ></script>

  <script>

    (function($){

      //model
      var Tweet = Backbone.Model.extend({
        defaults: function(){
          return {
            author: '',
            status: ''
          }
        }
      });

      //Collection
      var TweetsList = Backbone.Collection.extend({
        model: Tweet
      });
      // init collection
      var tweets = new TweetsList();
      // View One
      var TweetView = Backbone.View.extend({
        model: new Tweet(),
        tagName: 'div',
        events: {
          'click .edit': 'edit',
          'click .delete': 'delete',
          'blur .status': 'close',
          'keypress .status': 'onEnterUpdate'
        },
        initialize: function(){
          this.template = _.template($('#tweet-template').html());
        },
        edit: function(evt){
          evt.preventDefault();
          this.$('.status').attr('contenteditable', true).focus();
        },
        close: function(evt){
          evt.preventDefault();
          var status =  this.$('.status').text();
          this.model.set('status', status);
          this.$('.status').removeAttr('contenteditable');
        },
        onEnterUpdate: function(evt){
          var self = this;
          if(evt.keyCode === 13){
            this.close();
            _.delay(function(){
              self.$('.status').blur()
            }, 100);
          }
        },
        delete: function(evt){
          evt.preventDefault();
          tweets.remove(this.model);
        },
        render: function(){
          this.$el.html(this.template(this.model.toJSON()));
          return this;
        }
      });
      //View All
      var TweetsView = Backbone.View.extend({
        model: tweets,
        el: $('#tweets-container'),
        initialize: function(){
          this.model.on('add', this.render, this);
          this.model.on('remove', this.render, this);
        },
        render: function(){
          var self = this;
          self.$el.html('');
          _.each(this.model.toArray(), function(tweet, i){
            self.$el.append((new TweetView({model: tweet})).render().$el);
          });
          return this;
        }
      });

      $(function(){
        //form submit
        $('#new-tweet').submit(function(evt){
            var tweet = new Tweet({
              author: $('#author-name').val(),
              status: $('#status-update').val()
            });
            tweets.add(tweet);
            console.log(tweets.toJSON());
            return false;
        });

        var appView = new TweetsView();

      });

    })(jQuery);

  </script>

  <script type="text/template" id="tweet-template">
    <span class="author"><%= author %>:</span>
    <span class="status"><%= status %></span>
    <a href="#" class="edit">[edit]</a>
    <a href="#" class="delete">[delete]</a>
  </script>

</body>
</html>
